# Dependency directories
node_modules/
/jspm_packages/

# Next.js build output
.next/
out/

# Production build
build/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env*.local

# Python compiled files
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
